<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/style.css"/>
  <meta charset="utf-8">
  <%- include ('./partials/header.ejs') %>
  <title></title>
</head>

<body> 
    <h1>List of Materials</h1>
    <nav>
        <a href="/products/new">Create a New Product</a>
    </nav>
  <div class="container">
    <% for (i=0; i < Product.length; i++) { %>
      <div class="item">
        <div class="name">
      <img src="<%=Product[i].img%>">
      <h3> <%= Product[i].name %></h3>
    </div>
      <p><%=Product[i].description%><br><a href="/products/<%=Product[i].id%>">Learn More</a></p>
  
  </div>

  <% } %>
</div>    
  
    </body>
</html>