<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Show Page</title>
</head>

<body>
    <div class="container">
  <h1> <%=product.name;</h1>
    <%=product.img%>  
    <p><%=product.description%></p>
    <% if (product.qty > 1) {
    <h2>Stock: <%=product.qty%></h2>
     <div class="button"> 
      Buy!
    </div>
    } else {
      <h2>Out of Stock!</h2>
    }
    <a href="/products/:id/edit">Edit this Product</a>
  <form action="/products/<%=products.id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete!">
    </form>
</div> 
 <a href="/products">Back to Shop Page</a>
</body>

</html>