<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>What did I do with my money?</h1>
        <div class="container">
            <%let bankAccount = 0%>
            <p> Bank Account Total: <%=bankAccount%></p>
        </div>
        <table>
            <% for (i=0; i < budgets.length; i++){ %>
                <%=bankAccount += (budgets[i]).amount%>
                <tr>   
                    <td><%=budgets[i].date%></td>
                    <td><a href='/budgets/<%=i%>'%>><%=budgets[i].name%></td>
                    <td><%=budgets[i].amount%></td>
                    
                </tr>
           <% } %>
        </table>
    </div>
</body
</html>