<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>What did I do with my money?</h1>
        <%let bankAccount = 0%>
        <script>
            const $body = $('body')  
              for (let i=0; i < budgets.length; i++) {  
                    bankAccount += (budgets[i].amount);  
            }
    
        
             if (bankAccount < 0) {
                 $body.css('background-color', 'red');   
             } else if (bankAccount > 1000) {
                $body.css('background-color', 'blue');
             }
            
             </script>
            Bank Account Total: $<%=bankAccount%>
        </div>
        <table>
            <% for (i=0; i < budgets.length; i++){ %>
                <tr>   
                    <td><%=budgets[i].date%></td>
                    <td><a href='/budgets/<%=i%>'%>><%=budgets[i].name%></td>
                    <td><%=budgets[i].amount%></td>
                    
                </tr>
           <% } %>
        </table>
    </div>
</body
</html>