<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
</head>
<body>
    <div class ="container">
        <h1><%=budgets.name%></h1>
        <a href="/budgets/" class = "button">Back</a>
        <h4>Date: <%=budgets.date%></h4>
        <h4>Name: <%=budgets.name%></h4>
        <h4>From: <%=budgets.from%></h4>
        <h4>Amount: <%=budgets.amount%></h4>
        <h4>Tags: <%=budgets.tags%></h4>
    </div>
</body
</html>