<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
</head>
<body>
    <div class ="container">
        <h1><%=budgets.name%></h1>
        <button src="/budgets/index">Back</button>
        <h3>Date: <%=budgets.date%></h3>
        <h3>Name: <%=budgets.name%></h3>
        <h3>From: <%=budgets.from%></h3>
        <h3>Amount: <%=budgets.amount%></h3>
        <h3>Tags: <%=budgets.tags%></h3>
    </div>
</body
</html>